/*=============================
 	tableau des enseignements
  =============================*/

table.tab_matieres {
  font-family: Arial, Helvetica, sans-serif;
  border: 1;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  font-size:10;
}

table.tab_matieres td, table.tab_matieres th {
  border: 1px solid #000000;
  padding: 2px 3px;
}

table.tab_matieres th{
 	padding:2px 4px;
 	background-color: #C0C0C0;
}

tr.ue td{
	background-color: #00cc44;
}

tr.semestre	td{
	background-color: #3399ff;
	font-weight: bold;
}

/*===========================
 	tableau des enseignants
  ===========================*/
table.tab_enseignants th{
	font-weight:bold;
	font-family: Arial, sans-serif;
	font-size:15;
	border: 1px solid #000000;
	background-color: #E6E6FA;
}

table.tab_enseignants td{
	font-family: Arial, sans-serif;
	font-size:15;
	border: 1px solid #000000;
	background-color: #E6E6FA;
}
